@import '/node_modules/bootstrap/dist/css/bootstrap.css';
@import '/node_modules/bootstrap/dist/css/bootstrap-theme.css'; 


.company-container{
    justify-content: 'center';
    margin-bottom: 30px;
    min-height: 200;
    border: 0.5px;
    padding: 10px;
    border-color: darkolivegreen;
    border-style: solid;
    border-radius: 5px;
   
}
.rating-button{
    margin:10px;
}

p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;

}

.hanging-image{
   height:80px;
   
}