@font-face {
    font-family: SFProDisplay-Bold;
    src: url(./fonts/SF-Pro-Display-Bold.otf) format('otf'),
  }
  @font-face {
    font-family: SFProText-Semibold;
    src: url(./fonts/SF-Pro-Display-Semibold.otf) format('otf'),
  }
  @font-face {
    font-family: SFProDisplay-Regular;
    src: url(./fonts/SF-Pro-Display-Regular.otf) format('otf'),
  }
  @font-face {
    font-family: SFProText-Regular;
    src: url(./fonts/SF-Pro-Text-Regular.otf) format('otf'),
  }
  @import '/node_modules/bootstrap/dist/css/bootstrap.css';
  
.company-container{
    justify-content: 'center';
    margin-bottom: 30px;
    min-height: 200;
    border: 0.5px;
    padding: 10px;
    border-color: darkolivegreen;
    border-style: solid;
    border-radius: 5px;
   
}
.rating-button{
    height:60px;
    width:60px;
    border-radius:30px;
    border-style:solid;
    text-align: center;
    border-color: darkolivegreen;
}

p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;

}

.hanging-image{
   height:80px;
   
}

.page-header{
    font-family: SFProDisplay-Bold;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: 0.5px;
    color: #000000;
    height:100;
  }
.name {
    height: 24px;
    font-family: SFProText-Semibold;
    font-size: 27px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.89;
    letter-spacing: -0.7px;
    color: #000000;
  }

.card-base {
    border-radius: 1px;
    border-style: solid;
    height: 400px !important;
    background-color: #ffffff;
    border-color: rgba(46, 91, 255, 0.08);
    border-radius:5px;

  }

  .location {
    width: 206px;
    height: 28px;
    font-family: SFProDisplay-Regular;
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #9b9b9b;
  }

  .description {
    font-family: SFProDisplay-Regular;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.6px;
    text-align: center;
    color: #000000;
  }

  .rated-company-header {
    height: 34px;
    width:232px;
    font-family: SFProDisplay-Bold;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 0.4px;
    color: #4a4a4a;
  }
  .rated-text {
    height: 31px;
    font-family: SFProText-Regular;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: 0.6px;
    color: #4a4a4a;
  }
  
  .rated-text .text-style-1 {
    color: #9b9b9b;
  }